* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}


.gallery{
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
   gap: 10px;
  /* justify-items: stretch;
  align-items: stretch; */ 
  /* grid-template-columns: repeat(auto-fit,minmax(250px,)); */
 
}

.photo-card{
  height: 100%;
}
.imageLink{
  height: 200px;
  display: block;
  text-decoration: none;
width: calc((100% - 30px) / 4);
}

.info-item{
  padding: 0px;
  margin: 0px;
  color: aquamarine;
  font-style: normal;
    font-size: 12px;
    line-height: 1.9;
    letter-spacing: .03em;
}

.load-more{
  display: block;
}

.load-more.is-hidden {
  display: none;
}



